<form method="post" action="{{ path('app_import_delete', {'id': import.id}) }}" onsubmit="return confirm('Êtes-vous sûr de bien vouloir supprimer cet élément?');">
	<input type="hidden" name="_token" value="{{ csrf_token('delete' ~ import.id) }}">
	<button class="btn btn-sm btn-outline-danger">Supprimer</button>
</form>
