{{ form_start(form, {'attr': {'class': 'needs-validation', 'novalidate': 'novalidate'}}) }}
<div class="row">
	<div class="col-md-6">
		<div class="form-group">
			{{ form_label(form.compte_affaire) }}
			{{ form_widget(form.compte_affaire, {'attr': {'class': 'form-control'}}) }}
			{% if form_errors(form.compte_affaire) %}
				<span class="text-danger">{{ form_errors(form.compte_affaire) }}</span>
			{% endif %}
		</div>

		<div class="form-group">
			{{ form_label(form.compte_evenement) }}
			{{ form_widget(form.compte_evenement, {'attr': {'class': 'form-control'}}) }}
		</div>
		<div class="form-group">
			{{ form_label(form.compte_dernier_event) }}
			{{ form_widget(form.compte_dernier_event, {'attr': {'class': 'form-control'}}) }}
		</div>
		<div class="form-group">
			{{ form_label(form.numero_fiche) }}
			{{ form_widget(form.numero_fiche, {'attr': {'class': 'form-control'}}) }}
		</div>
		<div class="form-group">
			{{ form_label(form.libelle_civilite) }}
			{{ form_widget(form.libelle_civilite, {'attr': {'class': 'form-control'}}) }}
		</div>
		<div class="form-group">
			{{ form_label(form.propriete_vehicule) }}
			{{ form_widget(form.propriete_vehicule, {'attr': {'class': 'form-control'}}) }}
		</div>
		<div class="form-group">
			{{ form_label(form.nom) }}
			{{ form_widget(form.nom, {'attr': {'class': 'form-control'}}) }}
		</div>
		<div class="form-group">
			{{ form_label(form.prenom) }}
			{{ form_widget(form.prenom, {'attr': {'class': 'form-control'}}) }}
		</div>
		<div class="form-group">
			{{ form_label(form.num_nom_voie) }}
			{{ form_widget(form.num_nom_voie, {'attr': {'class': 'form-control'}}) }}
		</div>
		<div class="form-group">
			{{ form_label(form.complement_adresse) }}
			{{ form_widget(form.complement_adresse, {'attr': {'class': 'form-control'}}) }}
		</div>
		<div class="form-group">
			{{ form_label(form.code_postal) }}
			{{ form_widget(form.code_postal, {'attr': {'class': 'form-control'}}) }}
		</div>
		<div class="form-group">
			{{ form_label(form.ville) }}
			{{ form_widget(form.ville, {'attr': {'class': 'form-control'}}) }}
		</div>
		<div class="form-group">
			{{ form_label(form.telephone_domicile) }}
			{{ form_widget(form.telephone_domicile, {'attr': {'class': 'form-control'}}) }}
		</div>
		<div class="form-group">
			{{ form_label(form.telephone_portable) }}
			{{ form_widget(form.telephone_portable, {'attr': {'class': 'form-control'}}) }}
		</div>
		<div class="form-group">
			{{ form_label(form.telephone_job) }}
			{{ form_widget(form.telephone_job, {'attr': {'class': 'form-control'}}) }}
		</div>
		<div class="form-group">
			{{ form_label(form.email) }}
			{{ form_widget(form.email, {'attr': {'class': 'form-control'}}) }}
		</div>
		<div class="form-group mb-3">
			{{ form_label(form.date_mise_en_circulation) }}
			{{ form_widget(form.date_mise_en_circulation, {'attr': {'class': 'form-control'}}) }}
		</div>
		<div class="btn-group mb-3" role="group" aria-label="Actions">
			<button type="submit" class="btn btn-primary mt-8">{{ button_label|default('Enregistrer') }}</button>
		</div>
	</div>
	<div class="col-md-6">
		<div class="form-group">
			{{ form_label(form.date_achat) }}
			{{ form_widget(form.date_achat, {'attr': {'class': 'form-control'}}) }}
		</div>
		<div class="form-group">
			{{ form_label(form.date_dernier_event) }}
			{{ form_widget(form.date_dernier_event, {'attr': {'class': 'form-control'}}) }}
		</div>

		<div class="form-group">
			{{ form_label(form.libelle_marque) }}
			{{ form_widget(form.libelle_marque, {'attr': {'class': 'form-control'}}) }}
		</div>
		<div class="form-group">
			{{ form_label(form.libelle_modele) }}
			{{ form_widget(form.libelle_modele, {'attr': {'class': 'form-control'}}) }}
		</div>
		<div class="form-group">
			{{ form_label(form.version) }}
			{{ form_widget(form.version, {'attr': {'class': 'form-control'}}) }}
		</div>
		<div class="form-group">
			{{ form_label(form.vin) }}
			{{ form_widget(form.vin, {'attr': {'class': 'form-control'}}) }}
		</div>
		<div class="form-group">
			{{ form_label(form.immatriculation) }}
			{{ form_widget(form.immatriculation, {'attr': {'class': 'form-control'}}) }}
		</div>
		<div class="form-group">
			{{ form_label(form.type_prospect) }}
			{{ form_widget(form.type_prospect, {'attr': {'class': 'form-control'}}) }}
		</div>
		<div class="form-group">
			{{ form_label(form.kilometrage) }}
			{{ form_widget(form.kilometrage, {'attr': {'class': 'form-control'}}) }}
		</div>
		<div class="form-group">
			{{ form_label(form.libelle_energie) }}
			{{ form_widget(form.libelle_energie, {'attr': {'class': 'form-control'}}) }}
		</div>
		<div class="form-group">
			{{ form_label(form.vendeur_vn) }}
			{{ form_widget(form.vendeur_vn, {'attr': {'class': 'form-control'}}) }}
		</div>
		<div class="form-group">
			{{ form_label(form.vendeur_vo) }}
			{{ form_widget(form.vendeur_vo, {'attr': {'class': 'form-control'}}) }}
		</div>
		<div class="form-group">
			{{ form_label(form.commentaire_facturation) }}
			{{ form_widget(form.commentaire_facturation, {'attr': {'class': 'form-control'}}) }}
		</div>
		<div class="form-group">
			{{ form_label(form.type_vn_vo) }}
			{{ form_widget(form.type_vn_vo, {'attr': {'class': 'form-control'}}) }}
		</div>
		<div class="form-group">
			{{ form_label(form.num_dossier_vn_vo) }}
			{{ form_widget(form.num_dossier_vn_vo, {'attr': {'class': 'form-control'}}) }}
		</div>
		<div class="form-group">
			{{ form_label(form.intermediaire_vente) }}
			{{ form_widget(form.intermediaire_vente, {'attr': {'class': 'form-control'}}) }}
		</div>
		<div class="form-group">
			{{ form_label(form.date_evenement_veh) }}
			{{ form_widget(form.date_evenement_veh, {'attr': {'class': 'form-control'}}) }}
		</div>
		<div class="form-group mb-6">
			{{ form_label(form.originine_evenement) }}
			{{ form_widget(form.originine_evenement, {'attr': {'class': 'form-control'}}) }}
		</div>
	</div>
</div>
{{ form_end(form) }}
