{% extends 'base.html.twig' %}

{% block title %}Edit élément
{% endblock %}

{% block body %}
	<h1 class="mb-3">Edit élément</h1>

	<div class="btn-group mb-3" role="group" aria-label="Actions">
		<a href="{{ path('app_import_list') }}" class="btn btn-sm btn-outline-secondary">Annuler</a>
		&nbsp;
		{{ include('import/_delete_form.html.twig') }}
	</div>

	{{ include('import/_form.html.twig', {'button_label': 'Enregistrer'}) }}
{% endblock %}
