{% extends 'base.html.twig' %}

{% block body %}
	<div class="container-fluid table-container">
		<h1 class=" mt-3 mb-3">Liste des données :</h1>

		{% if imports is defined and imports is not empty %}
			<table id="product-table" class="table table-hover">
				<thead>
					<tr>
						<th></th>
						<th>Compte Affaire</th>
						<th>Compte évènement (Veh)</th>
						<th>Compte dernier évènement (Veh)</th>
						<th>Numéro de fiche</th>
						<th>Libellé civilité</th>
						<th>Propriétaire actuel du véhicule</th>
						<th>Nom</th>
						<th>Prénom</th>
						<th>N° et Nom de la voie</th>
						<th>Complément adresse 1</th>
						<th>Code postal</th>
						<th>Ville</th>
						<th>Téléphone domicile</th>
						<th>Téléphone portable</th>
						<th>Téléphone job</th>
						<th>Email</th>
						<th>Date de mise en circulation</th>
						<th>Date achat</th>
						<th>Date dernier évènement (Veh)</th>
						<th>Libellé marque (Mrq)</th>
						<th>Libellé modèle (Mod)</th>
						<th>Version</th>
						<th>VIN</th>
						<th>Immatriculation</th>
						<th>Type de prospect</th>
						<th>Kilométrage</th>
						<th>Libellé énergie (Energ)</th>
						<th>Vendeur VN</th>
						<th>Vendeur VO</th>
						<th>Commentaire de facturation (Veh)</th>
						<th>Type VN VO</th>
						<th>Numéro de dossier VN VO</th>
						<th>Intermediaire de vente VN</th>
						<th>Date évènement (Veh)</th>
						<th>Origine évènement (Veh)</th>
					</tr>
				</thead>
				<tbody>
					{% for imp in imports %}
						<tr>
							<td class="no-wrap">
								<div class="btn-group" role="group" aria-label="Actions">
									<a href="{{ path('app_import_show', {'id': imp.id}) }}" class="btn btn-sm btn-outline-primary">Modifier</a>
									<a href="{{ path('app_import_edit', {'id': imp.id}) }}" class="btn btn-sm btn-outline-danger">Supprimer</a>
								</div>
							</td>
							<td>{{ imp.compteAffaire }}</td>
							<td>{{ imp.compteEvenement }}</td>
							<td>{{ imp.compteDernierEvent }}</td>
							<td>{{ imp.numeroFiche }}</td>
							<td>{{ imp.libelleCivilite }}</td>
							<td>{{ imp.proprieteVehicule }}</td>
							<td>{{ imp.nom }}</td>
							<td>{{ imp.prenom }}</td>
							<td>{{ imp.numNomVoie }}</td>
							<td>{{ imp.complementAdresse }}</td>
							<td>{{ imp.codePostal }}</td>
							<td>{{ imp.ville }}</td>
							<td>{{ imp.telephoneDomicile }}</td>
							<td>{{ imp.telephonePortable }}</td>
							<td>{{ imp.telephoneJob }}</td>
							<td>{{ imp.email }}</td>
							<td>{{ imp.dateMiseEnCirculation ? imp.dateMiseEnCirculation|date('Y-m-d') : '' }}</td>
							<td>{{ imp.dateAchat ? imp.dateAchat|date('d/m/Y') :'' }}</td>
							<td>{{ imp.dateDernierEvent ? imp.dateDernierEvent|date('d/m/Y'):'' }}</td>
							<td>{{ imp.libelleMarque }}</td>
							<td>{{ imp.libelleModele }}</td>
							<td>{{ imp.version }}</td>
							<td>{{ imp.vin }}</td>
							<td>{{ imp.immatriculation }}</td>
							<td>{{ imp.typeProspect }}</td>
							<td>{{ imp.kilometrage }}</td>
							<td>{{ imp.libelleEnergie }}</td>
							<td>{{ imp.vendeurVn }}</td>
							<td>{{ imp.vendeurVo }}</td>
							<td>{{ imp.commentaireFacturation }}</td>
							<td>{{ imp.typeVnVo }}</td>
							<td>{{ imp.numDossierVnVo }}</td>
							<td>{{ imp.intermediaireVente }}</td>
							<td>{{ imp.dateEvenementVeh ? imp.dateEvenementVeh|date('d/m/Y') : '' }}</td>
							<td>{{ imp.originineEvenement }}</td>
						</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
	{% else %}
		<div class="alert alert-info">
			Aucune donnée n'est disponible pour affichage.
		</div>
	{% endif %}
{% endblock %}
