{% extends 'base.html.twig' %}

{% block title %}Nouveau donnée
{% endblock %}

{% block body %}
	<h1 class="mb-3">Créer nouveau élément</h1>
	<div class="btn-group mb-3" role="group" aria-label="Actions">
		<a href="{{ path('app_import_list') }}" class="btn btn-sm btn-outline-secondary mt-2">Annuler</a>
	</div>
	{{ include('import/_form.html.twig') }}
{% endblock %}
