{% extends 'base.html.twig' %}

{% block title %}Elément
{% endblock %}

{% block body %}
	<h1>Détails de donnée</h1>

	<div class="btn-group" role="group" aria-label="Actions">
		<a href="{{ path('app_import_list') }}" class="btn btn-sm btn-outline-secondary">Annuler</a>
		&nbsp;
		<a href="{{ path('app_import_edit', {'id': import.id}) }}" class="btn btn-sm btn-outline-primary">Editer</a>
		&nbsp;
		{{ include('import/_delete_form.html.twig') }}
	</div>

	<table class="table">
		<tbody>
			<tr>
				<th>Id</th>
				<td>{{ import.id }}</td>
			</tr>
			<tr>
				<th>Compte_affaire</th>
				<td>{{ import.compteAffaire }}</td>
			</tr>
			<tr>
				<th>Compte_evenement</th>
				<td>{{ import.compteEvenement }}</td>
			</tr>
			<tr>
				<th>Compte_dernier_event</th>
				<td>{{ import.compteDernierEvent }}</td>
			</tr>
			<tr>
				<th>Numero_fiche</th>
				<td>{{ import.numeroFiche }}</td>
			</tr>
			<tr>
				<th>Libelle_civilite</th>
				<td>{{ import.libelleCivilite }}</td>
			</tr>
			<tr>
				<th>Propriete_vehicule</th>
				<td>{{ import.proprieteVehicule }}</td>
			</tr>
			<tr>
				<th>Nom</th>
				<td>{{ import.nom }}</td>
			</tr>
			<tr>
				<th>Prenom</th>
				<td>{{ import.prenom }}</td>
			</tr>
			<tr>
				<th>Num_nom_voie</th>
				<td>{{ import.numNomVoie }}</td>
			</tr>
			<tr>
				<th>Complement_adresse</th>
				<td>{{ import.complementAdresse }}</td>
			</tr>
			<tr>
				<th>Code_postal</th>
				<td>{{ import.codePostal }}</td>
			</tr>
			<tr>
				<th>Ville</th>
				<td>{{ import.ville }}</td>
			</tr>
			<tr>
				<th>Telephone_domicile</th>
				<td>{{ import.telephoneDomicile }}</td>
			</tr>
			<tr>
				<th>Telephone_portable</th>
				<td>{{ import.telephonePortable }}</td>
			</tr>
			<tr>
				<th>Telephone_job</th>
				<td>{{ import.telephoneJob }}</td>
			</tr>
			<tr>
				<th>Email</th>
				<td>{{ import.email }}</td>
			</tr>
			<tr>
				<th>Date_mise_en_circulation</th>
				<td>{{ import.dateMiseEnCirculation ? import.dateMiseEnCirculation|date('Y-m-d') : '' }}</td>
			</tr>
			<tr>
				<th>Date_achat</th>
				<td>{{ import.dateAchat ? import.dateAchat|date('Y-m-d') : '' }}</td>
			</tr>
			<tr>
				<th>Date_dernier_event</th>
				<td>{{ import.dateDernierEvent ? import.dateDernierEvent|date('Y-m-d') : '' }}</td>
			</tr>
			<tr>
				<th>Libelle_marque</th>
				<td>{{ import.libelleMarque }}</td>
			</tr>
			<tr>
				<th>Libelle_modele</th>
				<td>{{ import.libelleModele }}</td>
			</tr>
			<tr>
				<th>Version</th>
				<td>{{ import.version }}</td>
			</tr>
			<tr>
				<th>Vin</th>
				<td>{{ import.vin }}</td>
			</tr>
			<tr>
				<th>Immatriculation</th>
				<td>{{ import.immatriculation }}</td>
			</tr>
			<tr>
				<th>Type_prospect</th>
				<td>{{ import.typeProspect }}</td>
			</tr>
			<tr>
				<th>Kilometrage</th>
				<td>{{ import.kilometrage }}</td>
			</tr>
			<tr>
				<th>Libelle_energie</th>
				<td>{{ import.libelleEnergie }}</td>
			</tr>
			<tr>
				<th>Vendeur_vn</th>
				<td>{{ import.vendeurVn }}</td>
			</tr>
			<tr>
				<th>Vendeur_vo</th>
				<td>{{ import.vendeurVo }}</td>
			</tr>
			<tr>
				<th>Commentaire_facturation</th>
				<td>{{ import.commentaireFacturation }}</td>
			</tr>
			<tr>
				<th>Type_vn_vo</th>
				<td>{{ import.typeVnVo }}</td>
			</tr>
			<tr>
				<th>Num_dossier_vn_vo</th>
				<td>{{ import.numDossierVnVo }}</td>
			</tr>
			<tr>
				<th>Intermediaire_vente</th>
				<td>{{ import.intermediaireVente }}</td>
			</tr>
			<tr>
				<th>Date_evenement_veh</th>
				<td>{{ import.dateEvenementVeh ? import.dateEvenementVeh|date('Y-m-d') : '' }}</td>
			</tr>
			<tr>
				<th>Originine_evenement</th>
				<td>{{ import.originineEvenement }}</td>
			</tr>
		</tbody>
	</table>
{% endblock %}
