{% extends 'base.html.twig' %}

{% block body %}
	<div class="container-fluid mt-5">
		<h3>Upload de fichier XLSX et enregistrement des données du fichier dans la base.</h3>

		{{ form_start(form, {'action': path('upload')}) }}
		{{ form_widget(form) }}
		<br>
		<button type="submit" class="btn btn-primary">Uploader et Enregistrer</button>
		{{ form_end(form) }}

		<br>
		{% if app.session.flashBag.has('error') %}
			<div class="alert alert-danger" id="error-message">
				{{ app.session.flashBag.get('error')[0] }}
			</div>
		{% endif %}

		{% if app.session.flashBag.has('success') %}
			<div class="alert alert-success" id="success-message">
				{{ app.session.flashBag.get('success')[0] }}
			</div>
		{% endif %}
		<hr>
	</div>
{% endblock %}
