<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>
			{% block title %}Upload de fichier XLSX
			{% endblock %}
		</title>
		<link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
		<link rel="stylesheet" href="https://cdn.datatables.net/1.13.6/css/jquery.dataTables.min.css">
		<link rel="stylesheet" href="{{ asset('css/styles.css') }}">
		<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"> {% block stylesheets %}{% endblock %}
		</head>
		<body>
			<nav class="navbar navbar-expand-lg navbar-dark bg-dark mb-4">
				<div class="container-fluid">
					<a class="navbar-brand" href="#">Menu</a>
					<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
						<span class="navbar-toggler-icon"></span>
					</button>
					<div class="collapse navbar-collapse" id="navbarNavAltMarkup">
						<div class="navbar-nav">
							<a class="nav-link {% if app.request.attributes.get('_route') == 'app_import_list' %}active{% endif %}" href="{{ path('app_import_list') }}">Liste des données</a>
							<a class="nav-link {% if app.request.attributes.get('_route') == 'do_import' %}active{% endif %}" href="{{ path('do_import') }}">Import via fichier</a>
							<a class="nav-link {% if app.request.attributes.get('_route') == 'app_import_new' %}active{% endif %}" href="{{ path('app_import_new') }}">Ajouter Nouveau</a>
						</div>
					</div>
				</div>
			</nav>

			<div class="ms-5 me-5"> {% block body %}{% endblock %}
				</div>

				<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
				<script src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.min.js"></script>
				<script src="{{ asset('js/scripts.js') }}"></script>
				{% block javascripts %}{% endblock %}
			</body>
		</html>
